In [228]:
import pandas as pd
import numpy as np

In [229]:
dataset=pd.read_csv("Life Expectancy Data.csv")
dataset.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [230]:
dataset.drop(dataset.columns[[0, 1]], axis=1, inplace=True)

In [231]:
dataset

,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [232]:
y=dataset.iloc[:,1:2]
dataset.drop(dataset.columns[[1]], axis=1, inplace=True)

In [233]:
x=dataset

In [234]:
null=x.isnull().sum()
print(null)

Status                               0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [235]:
x.fillna(x.mean,inplace=True)
x

,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.25921,33736494.0,17.2,17.3,0.479,10.1
1,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.47,9.9
3,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959,3696958.0,17.9,18.0,0.463,9.8
4,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Developing,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Developing,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Developing,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,6.53,71.0,39.8,57.34834,125525.0,1.2,1.3,0.427,10.0
2936,Developing,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Developing,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,7.1,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [236]:
null=x.isnull().sum()
print(null)

Status                             0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [237]:
column_to_encode = x.iloc[:, 0]
encoded_columns = pd.get_dummies(column_to_encode, prefix='encoded')
x = pd.concat([x, encoded_columns], axis=1)

In [238]:
x

,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,...,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,encoded_Developed,encoded_Developing
0,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,...,65.0,0.1,584.25921,33736494.0,17.2,17.3,0.479,10.1,0,1
1,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,...,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,0,1
2,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,...,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.47,9.9,0,1
3,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,...,67.0,0.1,669.959,3696958.0,17.9,18.0,0.463,9.8,0,1
4,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,...,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Developing,723.0,27,4.36,0.000000,68.0,31,27.1,42,67.0,...,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2,0,1
2934,Developing,715.0,26,4.06,0.000000,7.0,998,26.7,41,7.0,...,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5,0,1
2935,Developing,73.0,25,4.43,0.000000,73.0,304,26.3,40,73.0,...,71.0,39.8,57.34834,125525.0,1.2,1.3,0.427,10.0,0,1
2936,Developing,686.0,25,1.72,0.000000,76.0,529,25.9,39,76.0,...,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8,0,1
2937,Developing,665.0,24,1.68,0.000000,79.0,1483,25.5,39,78.0,...,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8,0,1

In [239]:
x.drop(x.columns[[0]], axis=1, inplace=True)

In [240]:
y.fillna(y.mean,inplace=True)

In [241]:
x.to_numpy()
y.to_numpy()

array([[65.0],
       [59.9],
       [59.9],
       ...,
       [44.8],
       [45.3],
       [46.0]], dtype=object)

In [246]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [243]:
X_train

,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling,encoded_Developed,encoded_Developing
683,65.0,0,11.41,1562.520827,88.0,1,55.3,0,98.0,6.37,98.0,0.1,25324.48666,127658.0,0.9,1.0,0.826,13.5,1,0
478,273.0,25,1.71,27.689711,<bound method NDFrame._add_numeric_operations....,3761,12.4,33,59.0,5.7,6.0,2.2,321.22634,1242473.0,11.6,11.8,0.412,7.6,0,1
2359,124.0,0,10.8,196.302624,<bound method NDFrame._add_numeric_operations....,0,51.8,0,93.0,8.57,92.0,0.1,1479.29634,19926.0,2.2,2.2,0.824,14.7,1,0
971,288.0,3,2.93,0.000000,95.0,0,21.5,6,94.0,5.52,95.0,3.0,<bound method NDFrame._add_numeric_operations....,<bound method NDFrame._add_numeric_operations....,9.0,8.9,0.415,8.1,0,1
880,225.0,0,0.01,88.629458,<bound method NDFrame._add_numeric_operations....,0,54.3,0,94.0,4.85,94.0,0.1,4498.95727,1388115.0,2.4,2.5,0.781,15.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
763,318.0,2,1.23,12.703259,<bound method NDFrame._add_numeric_operations....,298,3.2,2,71.0,7.21,71.0,3.9,94.729749,783254.0,5.9,5.8,0.396,4.0,0,1
835,32.0,3,0.01,13.404774,2.0,13,24.0,4,24.0,3.8,2.0,4.4,192.59733,1129424.0,8.5,8.4,0.582,9.2,0,1
1653,28.0,8,0.01,8.880281,8.0,62,29.4,12,8.0,3.63,8.0,1.1,145.57838,394617.0,8.1,7.9,0.501,8.2,0,1
2607,165.0,2,0.09,36.199487,72.0,10,15.1,3,78.0,1.2,72.0,0.1,757.311444,19221.0,11.6,11.6,0.599,12.1,0,1
2732,198.0,4,8.44,52.425296,46.0,0,6.1,5,72.0,7.67,76.0,0.2,429.71554,454896.0,2.3,2.4,0.744,15.2,0,1

In [244]:
y_train

     Life expectancy
683              78.7
478              58.5
2359             76.2
971              58.2
880              78.0
...               ...
763              58.6
835              57.9
1653             62.7
2607             66.6
2732             71.0

[2350 rows x 1 columns]

In [247]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

TypeError: ignored